---
---

@import "_reset.scss";

// typography

body {
	font-size: 20px;
	line-height: 1.7;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	background: url(/img/bg2.jpg) top center;
}

h1, h2, h3, h4, h5, h6, nav, footer {
	font-family: 'Amatic SC', cursive;
	font-size: 42px;
	font-weight: 400;
	line-height: 0.8;
	margin: 20px 0;
}

h1, h3 {
   font-weight: 700;
	text-transform: lowercase;
}

a {
	
	font-weight: bold;
	text-decoration: none;
	color: #000;
	
	&:hover {
		text-shadow: 0 0 1px #000;
	}
	
}

// layout

body {
	max-width: 800px;
	padding: 30px;
	margin: 0 auto;
}

main {
	
	margin: 60px 0;
	overflow: hidden;
	
	.text, .intro {
		width: 65%;
		float: left;
	}
	
	img {
		width: 30%;
		float: right;
	}
	
	section {
	   margin: 30px 0 0;
	}
	
	p {
		margin: 30px 0 0;
	}
	
	.recipe {
		margin: 60px 0 0;
	}
	
	.ingredients {
		
		margin: 0 0 60px;
		
		strong {
			font-weight: 400;
		}
		
	}
	
}

main.list {
	
	article {
	
		overflow: hidden;
		margin: 30px 0 0;
		
		img {
			float: left;
			width: 150px;
			margin-right: 5%;
		}
		
		h3 {
			margin: 0;
		}		
		
	}
	
}