<!DOCTYPE html>
<html lang="en">

{% include top.html %}

<body>

	{% include header.html %}
	
	<main class='list'>
	
		<article>
		
			<img src="/img/test/mushroom.png">
			
			<h3><a href='article.html'>mushroom and red wine soup</a></h3>
			
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		
		</article>
		
		<article>
		
			<img src="/img/test/elderberries.png">
			
			<h3><a href='article.html'>pontack</a></h3>
			
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		
		</article>
		
		<article>
		
			<img src="/img/test/mushroom.png">
			
			<h3><a href='article.html'>mushroom and red wine soup</a></h3>
			
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		
		</article>
		
		<article>
		
			<img src="/img/test/elderberries.png">
			
			<h3><a href='article.html'>pontack</a></h3>
			
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		
		</article>
		
		<article>
		
			<img src="/img/test/mushroom.png">
			
			<h3><a href='article.html'>mushroom and red wine soup</a></h3>
			
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		
		</article>
		
		<article>
		
			<img src="/img/test/elderberries.png">
			
			<h3><a href='article.html'>pontack</a></h3>
			
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		
		</article>
				
	</main>
	
	{% include footer.html %}
	
</body>

</html>