<!DOCTYPE html>
<html lang="en">

{% include top.html %}

<body>

	{% include header.html %}
	
	<main class='recipe'>
	
		<img src='/img/test/about.png'>
	
		<section class='intro'>
	
			<h3>{{ page.title }}</h3>
			
			{{ content }}
		
		</section>
		
		<section class='ingredients'>
		
		   <h4>Ingredients</h4>
		   
		   <ul>
		   
		   {% for ingredient in page.ingredients %}
		   
		     <li>{{ ingredient }}</li>
		     
		   {% endfor %}
		   
		   </ul>
		
		</section>
		
		<section class='recipe'>
		
		   <h4>Recipe</h4>
		
		   {{ page.recipe-text | markdownify }}
		
		</section>
		
	</main>
	
	{% include footer.html %}
	
</body>

</html>