<!DOCTYPE html>
<html lang="en">

{% include top.html %}

<body>

	{% include header.html %}
	
	<main class='recipe'>
	
		<section class='intro'>
		
		   <img src='{{ page.illustration_image }}'>
	
			<h3>{{ page.title }}</h3>
			
			{{ content }}
		
		</section>
		
		{% for recipe in page.recipes %}
		
   		<section class='ingredients'>
   		
   		   <h4>Ingredients</h4>
   		   
   		   <ul>
   		   
   		   {% for ingredient in recipe.ingredients %}
   		   
   		     <li>{{ ingredient.unit }} <strong>{{ ingredient.item }}</strong></li>
   		     
   		   {% endfor %}
   		   
   		   </ul>
   		
   		</section>
		
   		<section class='recipe'>
   		
   		   <h4>Method</h4>
   		
   		   {{ recipe.method_text | markdownify }}
   		
   		</section>
   		
   	{% endfor %}
		
	</main>
	
	{% include footer.html %}
	
</body>

</html>