<!DOCTYPE html>
<html lang="en">

{% include top.html %}

<body>

	{% include header.html %}
	
	<main class='recipe'>
	
		<section class='intro'>
		   
		   {% if page.illustration_image %}		   
		   <img src='{{ page.illustration_image }}'>
		   {% else %}
	      <img src='/img/egg.png'>
	      {% endif %}
	      
			<h3>{{ page.title }}</h3>
			
			{{ content }}
		
		</section>
		
		{% if page.header_image %}
		<div class='header-img'>  
		   <img src='{{ page.header_image }}'>
		</div>
		{% endif %}
		
		{% for recipe in page.recipes %}
		
		   {% if recipe.title %}
		   
		   <h3>{{ recipe.title }}</h3>
		   
		   {% endif %}
		
		   {% if recipe.ingredients %}
		
   		<section class='ingredients'>
   		
   		   <h4>Ingredients</h4>
   		   
   		   <ul>
   		   
   		   {% for ingredient in recipe.ingredients %}
   		   
   		     <li>{{ ingredient.unit }} <strong>{{ ingredient.item }}</strong></li>
   		     
   		   {% endfor %}
   		   
   		   </ul>
   		
   		</section>
   		
   		{% endif %}
		
   		<section class='recipe'>
   		
   		   <h4>Method</h4>
   		
   		   {{ recipe.method_text | markdownify }}
   		
   		</section>
   		
   		{% if recipe.notes %}
   		
   		<section class='notes'>
   		
   		   <h4>Notes</h4>
   		   
   		   <ol>
   		   
   		      {% for note in recipe.notes %}
   		      
   		      <li>{{ note }}</li>
   		      
   		      {% endfor %}
   		   
   		   </ol>
   		
   		</section>
   		
   		{% endif %}
   		
   	{% endfor %}
		
	</main>
	
	{% include footer.html %}
	
</body>

</html>